﻿body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

.PhoneName{
    margin-top: 15px;
    margin-bottom: 15px;

}

#__lpform_Name_icon{
    display: none;
}

#Name {
    border-radius: 3px;
    background-image: none !important;
}

#PriceFrom {
    border-radius: 3px;
    margin-right: 15px;
}

#PriceTo {
    border-radius: 3px;
}

.FilterByPrice{
    margin-bottom: 15px;
}

.CompanyNameFilter{
    margin-bottom: 15px;
}

.CompanyNameFilter .form-control {
    width: 60%;
}

.ExistPhone{
    margin-bottom: 15px;
}

.CategoryFilter{
    margin-bottom: 15px;
}

.btn-sbm {
    margin-bottom: 20px;
}

.CompanyNameInFilter{
    padding-left: 0;
    line-height: 29px;
}
/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}
