﻿@model MyFirstMVC.Models.Phone

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>Phone</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="ExistPhone">
                @Html.CheckBox("Available")
                <label>Only Exist Phones</label>
                @*<input id="Check" name="Check" type="checkbox" value="true">*@
                <input name="Available" type="hidden" value="false">
            </div>
            <div class="form-group">
                <div class="col-12 col-lg-2 CompanyNameInFilter">
                    @Html.Label("Companies")
                </div>
                <select name="companyId" class="form-control">
                    <option> </option>
                    @foreach (Company comp in (List<Company>)(ViewData["Companies"]))
                    {
                        <option value="@comp.Id">@comp.Name</option>
                    }
                </select>
            </div>
            <div class="col-12 col-lg-2 CompanyNameInFilter">
                @Html.Label("Categories")
            </div>
            <select name="categoryId" class="form-control">
                <option> </option>
                @foreach (Category comp in (List<Category>)(ViewData["Categories"]))
                {
                    <option value="@comp.Id">@comp.Name</option>
                }
            </select>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}