﻿@model MyFirstMVC.Models.Phone

@{

    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Phone</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Company)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Company.Name)
        </dd>
        <dt>
            @Html.DisplayName("USD")
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>
        @foreach (var item in (IEnumerable<Currency>)ViewBag.Message)
        {
            <dt>
                @Html.DisplayFor(modelitem => item.CurrencyCode)
            </dt>
            <dd>
                @(item.CurrencyRate * Model.Price)
            </dd>
        }
        <dt>
            @Html.DisplayNameFor(model => model.Category)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Category.Name)
        </dd>
        @{List<Reviews> reviews = (List<Reviews>)ViewData["Reviews"];}
        @{int a = 1; }


        @if (reviews.Count != 0)
        {
            int count = 0;
            int summa = 0;
            foreach (var review in reviews)
            {
                summa += review.Rating;
                count++;
            }
            int srednyaya = summa / count;

            <h2>Средняя оценка - @srednyaya</h2>

            <h2>Reviews</h2>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Rating</th>
                        <th scope="col">Person Name</th>
                        <th scope="col">Review</th>
                    </tr>
                </thead>
                @foreach (var item in (List<Reviews>)ViewData["Reviews"])
                {   
                    <tbody>
                        <tr>
                            <th scope="row">@a</th>
                            <td>@Html.DisplayFor(modelitem => item.Rating)</td>
                            <td>@Html.DisplayFor(modelitem => item.NamePersonReview)</td>
                            <td>@Html.DisplayFor(modelitem => item.Review)</td>
                        </tr>
                    </tbody>
                    a++;
                }
            </table>
        }

    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a> |
    <a asp-action="Redirect" asp-route-id="@Model.Id">Go to the manufacturer's website</a> |
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}