﻿@model MyFirstMVC.Models.Phone

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>Phone</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="col-12 col-lg-2 CompanyNameInFilter">
                    @Html.Label("Companies")
                </div>
                <select name="companyId" class="form-control">
                    @foreach (Company comp in (List<Company>)(ViewData["Companies"]))
                    {
                        if (Model.Company != null && Model.Company.Id == comp.Id)
                        {
                            <option value="@comp.Id" selected="selected">@comp.Name</option>
                        }
                        else
                        {
                            <option value="@comp.Id">@comp.Name</option>
                        }
                    }
                </select>
            </div>
            <div class="col-12 col-lg-2 CompanyNameInFilter">
                @Html.Label("Categories")
            </div>
            <select name="categoryId" class="form-control">
                @foreach (Category comp in (List<Category>)(ViewData["Categories"]))
                {
                    if (Model.Category != null && Model.Category.Id == comp.Id)
                    {
                        <option value="@comp.Id" selected="selected">@comp.Name</option>
                    }
                    else
                    {
                        <option value="@comp.Id">@comp.Name</option>
                    }
                }
            </select>
            <div class="form-group">
                <input type="submit" value="Save" asp-route-id="@Model" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}