﻿
@using MyFirstMVC.ViewModel

@model IndexViewModel

@{

    ViewData["Title"] = "Home Page";

}

@using (Html.BeginForm("Index", "Phone", FormMethod.Get))

{
    <p>
        <a asp-action="Create">Create Phone</a>
    </p>

    <div class="PhoneName">
        @Html.Label("Name", "Phone Name:")
        @Html.TextBox("Name", Model.Name)

    </div>
    <div class="container CompanyNameFilter">
        <div class="row">
            <div class="col-12 col-lg-2 CompanyNameInFilter">
                @Html.Label("Companies Name:")
            </div>
            <div class="col-12 col-lg-4">
                <select name="companyId" class="form-control">
                    <option> </option>
                    @foreach (Company comp in Model.Companies)
                    {
                        if (Model.Company != null && Model.Company.Id == comp.Id)
                        {
                            <option value="@comp.Id" selected="selected">@comp.Name</option>
                        }
                        else
                        {
                            <option value="@comp.Id">@comp.Name</option>
                        }
                    }
                </select>
            </div>
        </div>
    </div>
    <div class="FilterByPrice">
        @Html.Label("PriceFrom", "PriceFrom:")
        @Html.TextBox("PriceFrom", Model.PriceFrom)
        @Html.Label("PriceTo", "PriceTo:")
        @Html.TextBox("PriceTo", Model.PriceTo)
    </div>
    <div class="ExistPhone">
        @Html.CheckBox("Exist", Model.Exist)
        <label>Only Exist Phones</label>
        @*<input id="Check" name="Check" type="checkbox" value="true">*@
        <input name="Check" type="hidden" value="false">
    </div>
    <div class="CategoryFilter">
        @Html.RadioButton("categoryId", -1, true)
        <span>All Categories</span> <br />

        @foreach (Category category in Model.Categories)
        {
            if (Model.Category != null && Model.Category.Id == category.Id)
            {
                @Html.RadioButton("categoryId", category.Id, true)
            }
            else
            {
                @Html.RadioButton("categoryId", category.Id)
            }

            <span>@category.Name</span> <br />
        }

    </div>
    <div class="btn-sbm">
        <input type="submit" class="btn btn-info" />
    </div>
}



<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col"><a asp-action="Index" asp-route-sortPhones="@ViewBag.NameSort">Name</a></th>
            <th scope="col"><a asp-action="Index" asp-route-sortPhones="@ViewBag.CompanySort">Company</a></th>
            <th scope="col"><a asp-action="Index" asp-route-sortPhones="@ViewBag.CategorySort">Category</a></th>
            <th scope="col"><a asp-action="Index" asp-route-sortPhones="@ViewBag.PriceSort">USD</a></th>

            @foreach (var item in (IEnumerable<Currency>)ViewBag.Message)
            {
                <th scope="col"><a asp-action="Index" asp-route-sortPhones="@ViewBag.PriceSort">@item.CurrencyCode </a></th>
            }
            <th><a asp-action="Index" asp-route-sortPhones="@ViewBag.RaitingSort">Average Raiting</a></th>
        </tr>
    </thead>
    <tbody>
        @foreach (Phone p in Model.Phones)
        {
            <tr>
                <th scope="row">@p.Name</th>
                <th>
                    <a asp-area="" asp-controller="Phone" asp-action="Index" asp-route-companyId="@p.CompanyId">@p.Company.Name</a>
                </th>
                <th>@p.Category?.Name</th>
                <th>@p.Price</th>

                @foreach (var item in (IEnumerable<Currency>)ViewBag.Message)
                {
                    <th>@(item.CurrencyRate * p.Price)</th>
                }
                <th>@p.Average</th>
                <td>
                    <a asp-action="Edit" asp-route-id="@p.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@p.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@p.Id">Delete</a> |
                    <a asp-controller="Reviews" asp-action="Create" asp-route-id="@p.Id">Add review</a>
                </td>
            </tr>
        }
    </tbody>
</table>

@if (Model.PageViewModel.HasPreviousPage)
{
    <a asp-action="Index"
       asp-route-page="@(Model.PageViewModel.PageNumber - 1)"
       class="btn btn-default btn">
        <i class="glyphicon glyphicon-chevron-left"></i>
        Назад
    </a>
}
@if (Model.PageViewModel.HasNextPage)
{
    <a asp-action="Index"
       asp-route-page="@(Model.PageViewModel.PageNumber + 1)"
       class="btn btn-default btn">
        Вперед
        <i class="glyphicon glyphicon-chevron-right"></i>
    </a>
}


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}