﻿@model MyFirstMVC.Models.Reviews

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>Reviews</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <div class="col-12 col-lg-2 CompanyNameInFilter">
                    @Html.Label("Rating")
                </div>
                <select name="Rating" class="form-control">
                    @for (int i = 1; i < 6; i++)
                    {
                        <option value="@i">@i</option>
                    }
                </select>
            </div>
            <div class="form-group">
                <label asp-for="Review" class="control-label"></label>
                <textarea asp-for="Review" class="form-control" /></textarea>
                <span asp-validation-for="Review" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NamePersonReview" class="control-label">Name Person Review</label>
                <input asp-for="NamePersonReview" class="form-control" />
                <span asp-validation-for="NamePersonReview" class="text-danger"></span>
            </div>
            <div class="form-group">

                <label asp-for="PhoneId" class="control-label">Phone Name</label>
                <select name="PhoneId" typeof="hover" class="form-control">
                    @foreach (Phone phone in (List<Phone>)(ViewData["Phones"]))
                    {
                        if (phone.Id == (int)ViewData["PhoneId"])
                        {
                            <option value="@phone.Id" typeof="hover" selected="selected">@phone.Name</option>
                        }
                    }
                </select>
            </div>
                <div class="form-group">
                    <input type="submit" value="Create" asp-route-id="@Model" class="btn btn-default" />
                </div>
        </form>
    </div>
</div>

<div>
    <a asp-controller="Phone" asp-action="Index">Back to List</a>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
