﻿@model Stock

@{
    ViewData["Title"] = $"Remove Stock {Model.Name}";
}

<h2>Delete</h2>

<h3>@($"Are you sure you want to remove this {Model.Name} stock?")</h3>
<div>
    <h4>Stock</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
    </dl>

    <form asp-action="RemoveStock">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Remove this stock" class="btn btn-default" /> |
        <a asp-action="Index">Back to List Stocks</a>
    </form>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}